/*↓どのように動くのか要検証  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: UD デジタル 教科書体 NK-R;
  padding: 20px;
}

select,
label,
input,
button {
  cursor: pointer;
}

button {
  width: 140px;
  height: 60px;
  font-size: 24px;
  margin: 10px;
}

.main {
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  overflow: scroll;
}

.print_pages {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  height: 297mm;
  width: 210mm;
  border: dotted 1px #333;
  transform-origin: top right;
  transform: scale(.75);
}

/*最後のページは改ページを入れない*/
.print_pages:last-child {
  page-break-after: auto;
}

.no_print {
  margin-right: 10px;
  font-size: 1.6rem;
  line-height: 2rem;
  z-index: 10;
  top: 0;
  width: 36rem;
  margin-inline-start: 2rem;
}

.no_print input {
  width: 2rem;
  height: 2rem;
}

.input_S {
  width: 50px;
  height: 30px;
  text-align: center;
}

.masu {
  display: inline-table;
  border: solid black 2px;
}
.nazori {
  color: black;
  position: absolute;
  z-index: 100;
}

.nazori_2 {
  position: absolute;
  z-index: 100;
  color: black;
}

.kakusu {
  display: flex;
  border: solid 1px;
  justify-content: end;
  align-items: center;
  padding: 0.1cm;
}

.kanji_imi {
  display: inline-table;
  border-right: solid 1px;
  border-left: solid 1px;
}

.relative {
  position: relative;
}

.yomikata {
  display: inline-table;
  display: flex;
  border: solid 1px;
}

.yomikata_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yomikata_data {
  display: flex;
  border-inline-start: solid 1px;
}

.masu2_top {
  position: relative;
  display: inline-table;
  border: solid black 1px;
}

.masu2 {
  position: relative;
  display: inline-table;
  border-right: solid black 1px;
  border-left: solid black 1px;
  border-bottom: solid black 1px;
}

.yLine {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  width: 1px; /*--縦線の太さ(幅)--*/
  height: calc(100% - 2px);
  border: dotted 1px #333;
}

.xLine {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 0%;
  height: 1px; /*--横線の太さ(幅)--*/
  width: calc(100% - 2px);
  border: dotted 1px #333;
}

@media print {
  .print_pages {
    height: 297mm;
    width: 210mm;
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 0;
    transform-origin: 0 0;
    transform: scale(1);
    border: none;
  }
  .no_print {
    margin-right: auto;
    display: none;
    background-color: antiquewhite;
  }
}


@media screen and (max-width: 480px) {
  .main {
    transform: scale(.25);
    transform-origin: top right;
  }
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
